body {
    margin: 0;
}

.header_background {
    background-image: url(images/pawprints.jpg);
    background-size: contain;
    padding-top: 3%;
    padding-bottom: 3%;
}
.header {
    background-image: url(images/cat-banner.jpg);
    background-size: cover;
    display: flex;
    height: 350px;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: center;
    align-items: flex-start;
    border: 5px solid #8c5860;
}

.header h1 {
    background-color: rgb(239, 213, 192);
    margin: 20px;
    padding: 20px;
    border: 3.5px solid #8c5860;
    border-radius: 26px;
}