body {
    margin: 0;
}

.header_background {
    background-image: url(images/pawprints.jpg);
    background-size: contain;
    padding-top: 3%;
    padding-bottom: 3%;
}
.header {
    background-image: url(images/cat-banner.jpg);
    background-size: cover;
    display: flex;
    height: 350px;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: center;
    align-items: flex-start;
    border: 5px solid #8c5860;
}

.header h1 {
    background-color: #efd5c0;
    margin: 20px;
    padding: 20px;
    border: 3.5px solid #8c5860;
    border-radius: 26px;
}

hr {
    border: 3px solid #821a29;
    margin: 0;
}

.cat_photos {
    background-image: url(/images/desert-background.jpg);
}

.cat_photos h2 {
    background-color: #efd5c0;
    text-align: center;
    font-size: 28px;
    padding: 5px;
    margin-top: 0;

}

.cat_photos-main {
    display: flex;
    flex-direction: column;
}

.cat_photos p {
align-self: flex-start;
padding: 1%;
background-color: #efd5c0;
border: 2px solid #60452f;
border-radius: 20px;
margin-left: 10px;
}

.cat_photos a {
    flex: 1 1 auto;
    align-self: flex-end;
    padding: 1%;
}

.cat_interests {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/images/forest-background.jpg);
}

.cat_interests h2 {
    font-family: cursive;
    font-size: 28px;
    text-align: center;
    background-color: #efd5c0;
    width: 100%;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.cat_interests hr {
    align-self: stretch;
}

.interests_card {
    width: 580px;
    height: 370px;
    perspective: 800px;
    border-style: none;
    padding: 15px;
    margin-bottom: 50px;
}

.interests_card-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}


.interests_card:hover .interests_card-inner {
    transform: rotateY(180deg)
}

.interests_card-front,
.interests_card-back {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    text-align: center;
    padding: 10px;
}

.interests_card-front {
    background-color: #ffe6c2;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
}

.interests_card-back {
    background-color: #205d33;
    color: #fff;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card h3 {
    font-size: x-large;
}
.interests_card img {
    width: 300px;
    height: 244;
}

.card hr {
    margin-left: 10px;
    border: 2px dotted rgb(0, 0, 0);
}

.card p {
    font-size: x-small;
}

.card figcaption {
    font-size: larger;
}
